<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <form th:object="${thyme}"
                th:action="@{/create}"
                name="applicationForm"
                th:method="post">

            <input type="text" th:field="*{version}"/>

            <table>
                <tr>
                    <th th:text="een"></th>
                    <th th:text="twee"></th>
                    <th><button type="submit" name="addChild">Add Row </button> </th>
                </tr>

                <tr th:each="kid, rowstat : *{kids}">
                    <td>TODO: Type ophalen</td>
                    <td> <!--th:text="${kid.naam}"-->>
                        <input th:name="*{kids[__${rowstat.index}__].naam}" th:field="*{kids[__${rowstat.index}__].naam}"/>
                    </td>
                    <td><!-- th:text="${kid.age}"-->>
                        <input th:name="*{kids[__${rowstat.index}__].age}" th:field="*{kids[__${rowstat.index}__].age}"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
